<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color" >

    <!-- Navbar brand -->
    <a class="navbar-brand" style="font-size: 30px; padding-left: 1rem; font-weight: 500;" href="#">Portfolio.</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navtoggle" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" style="padding-left:3rem; font-weight: 400; font-size: 1rem;" id="navtoggle">

        <!-- Links -->
        <ul class="navbar-nav mr-auto" style="gap: 1rem;">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="fa fa-home"></i> Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" href="#about"><i class="fa fa-info-circle"></i> About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#services"><i class="fa fa-cogs"></i> Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact"><i class="fa fa-map"></i> Contact</a>
            </li>

        </ul>
        <!-- Links -->

      
    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->