<section id="header" style="background: url(https://images.unsplash.com/photo-1484417894907-623942c8ee29?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); background-size:cover; background-position: center;  padding-top: 7rem;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-5 white-text text-center text-md-left mt-xl-4 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
                    <h2 class="h2-responsive font-weight-bold mt-sm-5">Hello it's me ! <h1>Prathamesh Parmar</h1> </h2>
                    <h2>And I'm a <span class="" style="background-color: aquamarine; color: black; border-radius: 0.3rem;">Software Developer</span></h2>
                    <hr class="hr-light">
                 
                    <h6 class="mb-4">Hey ! I'm a talented Web Developer with 6 months of job experience under my belt, and I'm super excited to put my skills to work. I specialize in designing awesome dynamic and Responsive websites, as well as creating top-notch applications using both FrontEnd and BackEnd techniques.</h6>
                    <a href="#about" class="btn btn-primary btn-rounded">About Me</a>
                    <a href="https://drive.google.com/file/d/1MnZN87nsuU37uZcLea_sPCMRxdS3dYw1/view?usp=sharing" class="btn btn-red text-light btn-rounded">My Resume</a>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-6 wow fadeInRight" id="img" data-wow-delay="0.3s">
                    <i class=""></i>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
</section>
<br>
<br>
<br>