<!--Section: Content-->
<section id="services" class="text-center dark-grey-text">

    <!-- Section heading -->
    <h2 class="font-weight-bold mb-4 pb-2">Recent Projects</h2>
    <!-- Section description -->
    <p class="lead dark-text mx-1 mb-5">Some of my Recent projects that demonstrate my ability to work to meet the needs of the company</p>

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mb-4">

            <a href="https://techblog16.netlify.app/"><img src="https://i.postimg.cc/m2LKpbKm/Screenshot-120.png" alt="" class="img-thumbnail"></a>
            <h5 class="font-weight-bold my-4">Full Stack Blog Application</h5>
            <p class="grey-text mb-md-0">Developed a comprehensive and user-friendly full-stack blog web application that displays articles and author details.The application supports upvoting, commenting, and sharing features, which can only be achieved through user login. User login is integrated using the Firebase API, ensuring safety and convenience. This achievement was made possible through iterative design and implementation.
            </p>

        </div>
        <div class="col-md-4 mb-4">

            <a href="https://megatrongym.netlify.app/"><img src="https://i.postimg.cc/LhKc3GVP/Screenshot-108.png" alt="" class="img-thumbnail"></a>
            <h5 class="font-weight-bold my-4">Gym Web App(using ReactJS)</h5>
            <p class="grey-text mb-md-0">Crafted an innovative fitness web platform displaying personalized gym plans and trainer details; harnessed React and state management to boost user engagement by 30% and elevate conversion rates by 55%.
                The application facilitates fitness plans, allowing users to conveniently purchase the appropriate plan. Achieved through an ongoing process of design and implementation.
                
            </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 mb-4">

            <a href="https://final-year-reportgit-jfndezg7bwcjuncetv8mrq.streamlit.app/"><img src="https://i.postimg.cc/2yXc8kmQ/Screenshot-110.png" alt="" class="img-thumbnail"></a>
            <h5 class="font-weight-bold my-4">Machine Learning Project</h5>
            <p class="grey-text mb-md-0">Built an Anomaly Detection system using Machine Learning in Python which can accurately detect wall cracks & find uncertainty in the House Inspection process after construction of housing society.
               
            </p>

        </div>
        <div class="col-md-4 mb-4">

            <a href="https://github.com/prathamesh1417/Tutor-Finding-System"><img src="https://i.postimg.cc/pLWhd1y0/Screenshot-46.png" alt="" class="img-thumbnail"></a>
            <h5 class="font-weight-bold my-4">Tutor Finding System</h5>
            <p class="grey-text mb-md-0">Built an Tutor Finding System using PHP which can align to buy courses by negotiating with tutor for their hourly teaching rates.Implemented some live payment methods to buy/purchase a particular course using Negotiation system used by Tutor.
               
            </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 mb-4">

            <a href="https://prathamesh1417.github.io/Sevysis_Practice/dashboard.html"><img src="https://i.postimg.cc/dVgkYzyz/Screenshot-109.png" alt="" class="img-thumbnail"></a>
            <h5 class="font-weight-bold my-4">Company Website</h5>
            <p class="grey-text mb-0">Built a basic company website for better understanding of the front-end technologies & grasp the knowledge of MERN stack by practicing basic HTML5,CSS3 & JavaScript programming with Bootstrap. 
            </p>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

</section>
<!--Section: Content-->